<footer>
	<div class="container">
		<h2>Ruhens SG 루헨스</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="flex gap-10">
				<img src="../ruhens/assets/img/location@2x-1.png" alt="location" />
				<h3>Our Studios</h3>
			</div>
			<div class="ul">
				<strong>HQ / East</strong>
				<a
					href="https://www.google.com/maps/place/Ruhens+SG+%EB%A3%A8%ED%97%A8%EC%8A%A4/@1.3338387,103.8920071,17z/data=!3m1!4b1!4m5!3m4!1s0x31da179ebd8d9475:0x6a46d7746e401b86!8m2!3d1.333427!4d103.8942808"
					target="_blank"
				>
					33 Ubi Avenue 3 <br />
					#01-32, Vertex Building <br />
					S(408868)
				</a>
			</div>

			<div class="ul">
				<strong>North</strong>
				<a
					href="https://www.google.com/maps/place/Ruhens+SG+%EB%A3%A8%ED%97%A8%EC%8A%A4+-+Nordcom+2/@1.4435645,103.8130752,17z/data=!3m1!4b1!4m5!3m4!1s0x31da13c6f5ddc4f3:0x7e129c5b4b485c48!8m2!3d1.4435645!4d103.8152639"
					target="_blank"
				>
					2 Gambas Crescent <br />
					#01-31, Nordcom 2 <br />
					S(757044)
				</a>
			</div>
			<div class="flex gap-15">
				<img src="../ruhens/assets/img/mail@2x-1.png" alt="mail" />
				<h3>Email</h3>
			</div>
			<a href="mailto:sales@ruhens.com.sg" class="mt-10">sales@ruhens.com.sg</a>
		</div>
		<div class="row">
			<div class="flex gap-15">
				<img src="../ruhens/assets/img/phone@2x-1.png" alt="phone" />
				<h3>Contact Us</h3>
			</div>
			<div class="ul">
				<strong>Service hotline</strong>
				<a href="tel:64814572">6481 4572</a>
				<a href="tel:81571965">8157 1965</a>
			</div>
			<div class="ul">
				<strong>Sales</strong>
				<a href="tel:97702117">9770 2117</a>
			</div>
			<div class="ul-decorated">
				<a href="#">Terms Of Use</a>
				<a href="#">Return Policy</a>
				<a href="#">FAQ</a>
				<a href="#">Privacy Policy</a>
				<a href="#">Shipping Policy</a>
			</div>
		</div>
		<div class="row row-3">
			<h3>Stay connected with us!</h3>
			<form>
				<input type="text" placeholder="Type your email here..." />
				<button class="btn">Subscribe</button>
			</form>

			<h3>Follow Us</h3>
			<div class="flex gap-15">
				<a href="#">
					<img src="../ruhens/assets/img/YOUTUBE@2x.png" alt="youtube" />
				</a>
				<a href="#">
					<img src="../ruhens/assets/img/IG@2x.png" alt="instagram" />
				</a>
				<a href="#">
					<img src="../ruhens/assets/img/FB@2x.png" alt="facebook" />
				</a>
				<a href="#">
					<img src="../ruhens/assets/img/TIKTOK@2x.png" alt="tiktok" />
				</a>
			</div>

			<div class="flex gap-15">
				<img src="../ruhens/assets/img/clock@2x.png" alt="clock" />
				<h3>Opening Hours</h3>
			</div>
			<div class="flex between">
				<div class="ul">
					<strong>Studio</strong>
					<div>Mon – Sun</div>
					<div>(Based on appointment only)</div>
				</div>
				<div class="ul">
					<strong>Office</strong>
					<div>Mon – Fri</div>
					<div>10am – 6pm (Closed on Public Holiday)</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">ALL RIGHTS RESERVED. Ruhens © 2021</div>

	<!-- <a href="#/index">index</a>
	<a href="#/about">about</a>
	<a href="#/contacts">contacts</a> -->
</footer>
